:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", "sans serif";
}

.header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 60px;
}

.links {
    position: relative;
}

.links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
}

.links .icon span {
    background-color: #333;
    height: 2px;
    margin-bottom: 5px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul {
    list-style: none;
    background-color: var(--section-background);
    position: absolute;
    padding: 2px;
    right: 0;
    min-width: 200px;
    display: none;
    top: calc(100% + 15px);
}

.header .links ul::before {
    content: "";
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    top: -30px;
    right: 3px;
}

.header .links:hover ul {
    display: block;
    z-index: 1;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links ul li a {
    display: block;
    padding: 15px 0;
    text-decoration: none;
    color: #333;
    transition: var(--main-duration);
    font-size: 18px;
}

.header .links ul li a:hover {
    padding-left: 25px;
    color: rgb(218, 50, 50);
}

.header .links ul li:not(:last-child) a {
    border-bottom: 2px solid #ddd;
}

.landing {
    background-image: url(landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
    margin: 0;
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

.features {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: var(--section-background);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 90px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color: var(--main-color);
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-content .srv .text {
    flex: 1;
}

.services .services-content .srv .text h3 {
    margin: 0 0 20px;
}

.services .services-content .srv .text h3:hover {
    color: rgb(198, 26, 26);
    padding-top: 20px;
    padding-left: 20px;
}

.services .services-content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}

.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading+p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
    top: 20px;
}

.services .services-content .image {
    position: relative;
    text-align: center;
}

.services .services-content .image img {
    width: 260px;
    margin-left: 270px;
}

.services .services-content .image::before {
    content: "";
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    position: absolute;
    top: -50px;
    right: -250px;
    z-index: -1;
}

.portfolio {
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}

.portfolio-content .card {
    background-color: white;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}

.portfolio-content .card:hover {
    padding-top: 35px;
    padding-left: 20px;
    background-color: #2c4755;
    color: white;
}

.portfolio .portfolio-content .card img {
    width: 260px;
    text-align: center;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}

.portfolio .portfolio-content .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}

.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}

.about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
    margin-left: 60px;
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .image img {
    max-width: 100%;
}

.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .about-content .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    top: -50px;
    right: -150px;
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}

.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}

.contact {
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.info {
    text-align: center;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.info .label {
    font-weight: 800;
    font-size: 35px;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.info a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 800;
    font-size: 35px;
}

.info a:hover {
    color: rgb(17, 78, 209);
}

.info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}

.info .social i:hover {
    color: rgb(162, 17, 17);
}

.footer {
    background-color: var(--secondary-color);
    text-align: center;
    color: white;
    padding: 30px 10px;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}